* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "PT Sans", sans-serif; */
}

/* html {
  background: linear-gradient(106.57deg, #373d53 0%, #252634 100%);
  background-size: auto;
} */
/* body {
  height: auto !important;
  min-height: 100vh;
  background: linear-gradient(106.57deg, #373d53 0%, #252634 100%);
}  */

/* html {
  height: 100vh;
}
*/
