* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  min-height: 100vh;
  /* min-width: 100vw; */
  /* background-repeat: no-repeat; */
  background: linear-gradient(106.57deg, #373d53 0%, #252634 100%) !important;
}

@font-face {
  font-family: "BYekan", "vazir";
  src: url("./Assets/fonts/BYekan.ttf") format("ttf");
  src: url("./Assets/fonts/BYekan.woff") format("woff");
  src: url("./Assets/fonts/Vazir-Regular.ttf") format("ttf");
  src: url("./Assets/fonts/BYekan.woff2") format("woff2");

  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "vazir", "BYekan", Times, serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
}

a:hover {
  color: aliceblue;
}
