.confirm-btn {
  padding: 8px 40px;
  border-radius: 30px;
  outline: none;
  border: none;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  width: 100%;
  background: linear-gradient(94.97deg, #ff0000 -130.13%, #c750ff 129.4%);
  margin-top: 1rem;
}
.confirm-btn:hover {
  background: linear-gradient(60.7deg, #ff0000 -130.13%, #c750ff 100.4%);
}
